---
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Hero from "../components/Hero.astro";
import PortafolioSection from "../components/PortafolioSection.astro";
import Paquetes from "../components/Paquetes.astro";
import Testimonios from "../components/Testimonios.astro";
import Contacto from "../components/Contacto.astro";
import WhatsappButton from "../components/WhatsappButton.astro";
import Footer from "../components/Footer.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Magnific Memories</title>
  <link rel="icon" href="/faviconmm.png" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<style>
  * {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }
</style>
<body>
  <NavBar />
  <Banner />
  <Hero />
  <PortafolioSection />
  <Paquetes />
  <Testimonios />
  <Contacto />
  <WhatsappButton />
	<Footer />
</body>
</html>

