<style>
  .subtitulo {
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  }
  .titulo {
    font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  }
  section.portafolio {
    background-color: #FAF5ED;
    color: #333;
    padding: 4rem 2rem;
    font-family: sans-serif;
    text-align: center;
    margin-top: -70px;
  }

  .portafolio h2 {
    font-size: 48px;
    margin-bottom: 0.5rem;
    color: #C6A664;
  }

  .portafolio p {
    margin-bottom: 2.5rem;
    font-size: 18px;
    color: #555;
  }

  .portfolio-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .portfolio-item {
    border-radius: 0.5rem;
    overflow: hidden;

  }

  .portfolio-item:hover {
    transform: translateY(-4px);
  }

  .portfolio-item img {
    width: 100%;
    display: block;
    height: auto;
  }

  .portfolio-content {
    padding: 1rem;
  }

  .portfolio-content h3 {
    margin: 0;
    font-size: 36px;
    color: #C6A664;
  }

  .portfolio-content p {
    margin-top: 0.5rem;
    font-size: 1.1rem;
    color: #777;
  }
  .button-card {
    background-color: #365A63;
    width: 120px;
    height: 35px;
    border-radius: 70px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 20px;
  }

  @media (min-width: 768px) {
    .portfolio-grid {
      grid-template-columns: repeat(3, 1fr);
    }
    .portafolio h2 {
      font-size: 84px;
    }
    .portafolio p {
    font-size: 24px;
  }
    .portafolio-item img {
      max-height: 435px; 
      object-fit: cover;
    }
  }
</style>
<section class="portafolio" id="portafolio">
  <h2 class="titulo">Nuestro trabajo</h2>
  <p class="subtitulo">Invitaciones web hechas con amor y detalle para todo tipo de eventos.</p>

  <div class="portfolio-grid">
    <div class="portfolio-item">
      <a style="text-decoration: none;" href="https://magnificmemories.github.io/">
        <img src="/images/celular1.png" alt="Ejemplo 1" />
      </a>
      <button style="font-weight: bold; font-size: 18px;" class="button-card">Clic aquí</button>
    </div>
    <div class="portfolio-item">
      <a style="text-decoration: none;" href="http://magnificmemories.github.io/boda-lulu-carlos/">
      <img src="/images/celular2.png" alt="Ejemplo 2" />
      </a>
      <button style="font-weight: bold; font-size: 18px; font-size: 18px;" class="button-card">Clic aquí</button>
    </div>
    <div class="portfolio-item">
      <a style="text-decoration: none;" href="https://magnificmemories.github.io/xvzoemy/">
      <img src="/images/celular3.png" alt="Ejemplo 3" />
      </a>
      <button style="font-weight: bold; font-size: 18px;" class="button-card">Clic aquí</button>
    </div>
  </div>
</section>
